<!DOCTYPE html>
<html>

<head>
</head>

  <body id="name">

    <div>
      <h1>User Login</h1>
    </div>

    <% if flash[:error] %>
      <p><%= flash[:error] %></p>
    <% end %>

    <%= form_for :session do |f| %>
      <%= f.label :email %>
      <%= f.text_field :email  %> <br>

      <%= f.label :password %>
      <%= f.text_field :password %> <br>

      <%= f.submit "Login" %>

    <% end %>

      <%= yield %>

  </body>
</html>