<!DOCTYPE html>
<html>
  <head>
    <title>NycEatsSafe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <div id="banner">
        <h1>NYC EATS SAFE</h1>
        
      </div>

    <ul class="nav">
    
     
      <% if @current_user %>
        <li class="right">Welcome <%= @current_user.name %>!</li>
        
        <li><a href="<%= user_path(@current_user) %>">Your Profile</a></li>
        
        <li><a href="<%= new_reservation_path %>">Create Reservation</a></li>
        
        <li><a href="<%= restaurants_path %>">Our Approved Restaurants</a></li>
        
        <li class="right"><%= link_to "Log Out", logout_path, method: :delete %></li>
        
      <% else %>
        <li class="right"><a href="<%= new_user_path %>">Sign Up</a></li>
        <li class="right"><a href="<%= new_login_path %>">Login</a></li>
      <% end %>
    </ul>

  
    <%= yield %>
  </body>
</html>
